.chat {
  display: flex;
  flex: 0.65;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  background-color: #f5f5f5;
}

.chat-header > h4 {
  font-weight: 500;
  color: gray;
}

.chat-name {
  color: black;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  background-color: #f5f5f5;
}

.chat-input > form {
  flex: 1;
}

.chat-input > form > input {
  width: 98%;
  outline-width: 0;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 5px;
}

.chat-input > form > button {
  display: none;
}

.chat-body {
  flex: 1;
}
