.sidebar-chat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.sidebar-chat:hover {
  background-color: #3e93f3;
  color: white;
}

.sidebar-chat-info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebar-chat-info > small {
  top: 5px;
  right: 0;
  position: absolute;
}
