.sidebar {
  flex: 0.35;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: 1px solid lightgray;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.sidebar-avatar {
  cursor: pointer;
  margin: 10px;
}

.sidebar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #e1e1e1;
  color: gray;
  border-radius: 5px;
}

.sidebar-input > input {
  border: none;
  background: transparent;
  outline-width: 0;
}

.sidebar-chats {
  overflow: scroll;
}

.sidebar-chats::-webkit-scrollbar {
  display: none;
}
